@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100vh;
}
:root{
    --nav:white;
    --main:white;
    --colorText:black;
    --colorText2:rgba(0, 0, 0, 0.7);
    --rgba: rgba(0, 0, 0, 0.2);
    --transparent:rgba(0,0,0,0.15);
}
.changeColor{
    --nav:rgb(5, 4, 30);
    --colorText:white;
    --rgba: rgba(255, 255, 255, 0.2);
    --main:rgb(3, 8, 48);
    --colorText2:rgba(255, 255, 255, 0.7);
    --transparent:rgba(255, 255, 255, 0.15);
}
.trnsparents{
    color: var(--colorText2);
}
.mobile_left{
    transform: translate(0px) !important;
}
.search{
    background-color: var(--main);
    transition: 0.5s;
}
.search_opacity,.search_text{
    color: var(--colorText2);
}
.menu_text{
    color: var(--colorText);
}
.videodetile{
    background-color: var(--main);
    transition: 0.5s;
}
.video_detile_h3{
    color: var(--colorText);
}
.bg_transparent{
    background-color: var(--transparent);
}
.video_detile_logo{
    color: var(--colorText2);
}

.hover_bar:hover{
    background-color: var(--rgba);
}
.burger{
    color: var(--colorText);
}
.logos{
    color: var(--colorText);
}
.sidebar{
    background-color: var(--nav);
    transition: 0.5s;
}
.logo_md{
    color: var(--colorText);
}
.nav_button{
    background-color: var(--rgba);
}
.nav_input{
    color: var(--colorText);
}
.main{
    background-color: var(--main);
    transition: 0.5s;
    color: var(--colorText);
}
.opacity_text{
    color: var(--colorText2);
}
.card_text{
    color: var(--colorText);
}
.nav{
    background-color:var(--nav);
    transition: 0.5s;

    color: var(--colorText);
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.load-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fdba2c;
}
.bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
}
.bar:nth-child(1) {
    background-color: #4b5ed7;
    animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
    background-color: #3df389;
    animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
    background-color: #ba51ea;
    animation: loading 3s linear 2s infinite;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  .videodetile ::-webkit-scrollbar{
    width: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--nav);
    transition: 0.5s;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #F14513;
    transition: 0.5s;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    transition: 0.5s;

  }
@keyframes loading {
    from {
        left: 50%;
        width: 0;
        z-index: 100;
    }
    33.3333% {
        left: 0;
        width: 100%;
        z-index: 10;
    }
    to {
        left: 0;
        width: 100%;
    }
}

.custom-h {
    height: auto !important;
}
@media screen and (min-width: 1024px) {
    .custom-h {
        height: 100vh !important;
    }
}
